<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/general.css">
		<title>
			Агрегатор
		</title>
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/general.js"></script>
		<div class="container-fluid base-wrapper">
			<header class="row base-header">
				<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
					<div class="base-top-logo-box">
						<img src="{{ STATIC_URL }}logo.png" class="logo-img"/>
					</div>
				</div>
			</header>
			<div class="row base-menu">
                <div class="base-menu-items-box">
                    <div class="base-menu-item {% if view_name == 'banks' %}base-menu-item-on{% endif %}"><a href="{% url 'banks' %}">Банки</a></div>
                    <div class="base-menu-item {% if view_name == 'partners' %}base-menu-item-on{% endif %}"><a href="{% url 'partners' %}">Партнёры</a></div>
                    <div class="base-menu-item {% if view_name == 'personal_choice' %}base-menu-item-on{% endif %}"><a href="{% url 'personal_choice' %}">Мой выбор</a></div>
                    <form action="/banks/" method="post" class="base-search" >
                        {% csrf_token %}
                        <input type="search" name="" placeholder="поиск" class="input" />
                        <input type="submit" name="" value="" class="submit" />
                    </form>
                </div>
			</div>
			{% block content %}
			{% endblock %}
			<div width="100px"">
			</div>
		</div>
		<footer class="container-fluid base-footer">
		</footer>
	
	<body>
<html>