{% extends 'base_struct.html' %}
{% block content %}
<p class="text-center content-name">
	Калькулятор партнёров банков
</p>
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 left-box">
	<div class="banklist-head col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="banklist-head-col1">
			<p class="text-center">Название банка</p>
		</div>
		<div class="banklist-head-col2">
			<p class="text-center">Совпадения</p>
		</div>
		<div class="banklist-head-col3">
			<p class="text-center">Скидка до</p>
		</div>
	</div>
	
	{% for bank_list in bank_list %}
	
	<div class="banklist-elem col-lg-12 col-md-12 col-sm-12 col-xs-12" id="{{bank_list.id}}">
		<div class="banklist-elem-col1">
			<p class="text-center">{{bank_list.name}}</p>
		</div>
		<div class="banklist-elem-col2">
			<p class="text-center">{{bank_list.num_partners}}</p>
		</div>
		<div class="banklist-elem-col3">
			<p class="text-center">{{bank_list.avg_stocks|floatformat}}%</p>
		</div>
	</div>
	
	{% endfor %}
	
</div>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
</div>
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 right-box">
	<div class="partners-head col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p class="text-center">Ваши партнёры</p>
	</div>
	{% for store_list in store_list %}
	<div class="partners-elem col-lg-5 col-md-5 col-sm-5 col-xs-5" id="{{store_list.id}}">
		<p class="text-center">{{store_list.name}}</p>
	</div>
	{% endfor %}
	<form id = "change-partners-form" action="./partners_selector/" method = "post" type = "display:none;">
		{% csrf_token %}
		<input type="hidden" id="storesid" name="storesid">
	</form>
	<div id="change-partners-elem" class="partners-change col-lg-5 col-md-5 col-sm-5 col-xs-5">
		<p class="text-center">Добавить/Удалить<br>+/-</p>
	</div>
</div>
{% endblock content %}