{% extends 'base_struct.html' %}
{% block content %}
    <div class="row justify-content-center">
        {% for discount in discount_list %}
            <div class="mt-1 col-xs-12 col-sm-12 col-md-11 col-lg-10 col-xl-9">
                <div class="card bg-light">
                    <div class="card-body">
                        <h4 class="card-title">{{ discount.id_store__name }}</h4>
                        <H5 class="card-text">
                            {% if discount.stock_value == 0 %}
                                Спец.предложение
                            {% else %}
                                Скидка до:&nbsp{{ discount.stock_value }}&nbsp%&nbsp
                            {% endif %}

                                от:&nbsp{{ discount.service_name }}

                            {% if discount.date_end|date:"d.m.Y" != '31.12.2099'%}
                                &nbsp&nbspИстекает:&nbsp {{ discount.date_end|date:"d.m.Y" }}&nbspг.
                            {% endif %}
                        </H5>
                        <a href="
                        {% if discount.url_discount == None  %}
                            {{ discount.url_stock }}
                        {% else %}
                            {{ discount.url_discount }}
                        {% endif %}
                            " class="btn btn-info pull-right">Перейти на сайт</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="row justify-content-center" style="padding-top: 30%">
                <H3>{{ empty_message }}</H3>
            </div>
        {% endfor %}
    </div>
{% endblock %}