{% extends 'base_struct.html' %}
{% block content %}

    <div class="row justify-content-center">
        {% for bank in object_list %}
            <div class="mt-1 col-xs-12 col-sm-12 col-md-11 col-lg-10 col-xl-9 bg-light" >
                <div class="card bg-light">
                    <a href="{{ URL }}/discounts/?choose_type=Banks_Stores&banks_choice={{ bank.id }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ bank.name }}</h4>
                            <H5 class="card-text">Число партнёров:&nbsp;{{ bank.count_partners }}&nbsp;Скидки до:&nbsp;{{ bank.max_discount }}&nbsp;%</H5>

                            <a href="{{ bank.url_stock }}" class="btn btn-info pull-right">Перейти на сайт</a>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}