/*base_struct.html*/
body {
	background:	#FFFFFF;
}
.base-header {
	background-color: #FFFFFF;
	height: 150px;
}
.base-menu {
	background-color: #2F4F4F;
	height: 70px;
}

.base-menu-items-box {
	height: 100%;
}
.base-menu-item {
	float:left;
	width: 200px;
	height: 100%;
    border-right: 1px solid #203535;
}

.base-menu-item a {
	display: block;
    height: 100%;
	padding-top: 15px;
	font-size: 190%;
	text-align: center;
	color: white;
	cursor: pointer;
    text-decoration: none;
}

.base-menu-item a:hover {
	color: #82DBDB;
}

.base-menu-item-on {
	background-color: #5D9B9B;
    /*border-bottom: 15px solid white;*/
}

/*------------------------------------------------------------------------------------------------------------------*/

.base-search {

  width: 500px;
  margin-top:20px;
  margin-right:40px;
  position: relative;
  float:right;
}

.base-search input {
  /* отключаем бордюры у инпутов */
  border: none;
  float:right;
}

.base-search .payments-select {
    float:right;
    border:none;
    padding: 8px 37px 9px 15px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 150px;

    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

.base-search .category-select {
    float:right;
    border:none;
    padding: 8px 37px 9px 15px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;

    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

/* стили для поля ввода */
.base-search .search-input {
  /* растягиваем поле ввода на всю ширину формы */
  width: 150px;

  /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
  ** регулируем высоту формы
  ** внутренний отступ справа (37px) делаем больше левого,
  ** т.к. там будет размещена кнопка отправки	*/
  padding: 8px 37px 9px 15px;

  /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* добавляем внутренние тени */
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);

  /* закругляем углы */
  border-radius: 10px;

  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}

/* меняем оформление поля ввода при фокусе */
.base-search .search-input:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}

/* оформляем кнопку отправки */
.base-search .search-submit {
  /* позиционируем кнопку абсолютно от правого края формы */
  position: absolute;
  top: 0;
  right: 0;

  width: 37px;

  /* растягиваем кнопку на всю высоту формы */
  height: 100%;

  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;

  /* добавляем прозрачность кнопке отправки */
  opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.base-search .search-submit:hover {
  opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
  -webkit-appearance: none;
}
/*------------------------------------------------------------------------------------------------------------------*/
.base-footer {
	background-color: #2F4F4F;
	height: 100px;
	overflow:hidden;
}

.base-wrapper {
	min-height:100vh;
	margin-bottom:-100px;
    padding-bottom: 100px;
}

.base-top-logo-box {
	height: 150px;
	width:500px;
}

.bot-logo-box {
	background-color:white;
	height: 70px;
	margin:15px;
	width:175px;
	box-shadow: inset 5px 5px 20px rgba(122,122,122,0.5);
}

.logo-img {
	position:relative;
	width:60%;
	height:60%;
	left:10%;
	top:30%;
}

.crutch-1 {
	height:100px;
}


/*new */

.discount {
    height: 85px;
}

.bank:hover {
}

.border-10 {
    border-radius:.25rem;
}

select {
    max-width: 150px;
}
a {
    color: #343a40;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.logo-header {
    height: 60px;
    padding-left: 30px;
}
